body {
    background-image: '3576359.jpg';
    background-repeat: no-repeat;
    background-size: cover;
    
    font-family: sans-serif;
    line-height: 1.5;
  
    background-color: #74992e;
    color: #333333;
  
    width: 980px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 0;
  }
  
  main > h2 {
    text-align: center;
    font-size: 25px;
  }
